.App {
    text-align: center;
    padding-top: 20px;
    background-color: #fefefe;
}

.messageForm {
    position: sticky;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #f8f8f8;
    padding: 0 20px;
    border-top: 1px solid #a1a1a1;
}
.messageForm > input {
    height: 40px;
    background-color: #fefefe;
    border: 1px solid #a1a1a1;
    border-radius: 10px;
    font-size: 1.5em;
}

.list {
    padding-left: 0;
    display: grid;
    grid-gap: 20px;
}

@media (min-width: 480px) {
    .message {
        grid-template-columns: 75px 6fr;
    }
    .profileImg {
        width: 55px;
    }
}
@media (min-width: 768px) {
    .message {
        grid-template-columns: 80px 6fr;
    }
    .profileImg {
        width: 60px;
    }
}
@media (min-width: 1024px) {
    .message {
        grid-template-columns: 85px 6fr;
    }
    .profileImg {
        width: 65px;
    }
}
@media (min-width: 1200px) {
    .message {
        grid-template-columns: 90px 6fr;
    }
    .profileImg {
        width: 70px;
    }
}